/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: lato, sans-serif;
  font-weight: 400px;
  line-height: 1.7;
  font-size: 16px;
  padding: 30px;
}

.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.7),
      rgba(40, 180, 133, 0.7)
    ),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(100% 0, 100% 85%, 0 100%, 0 0);
  position: relative;
}

.logo-box {
  top: 40px;
  left: 40px;
  position: absolute;
}

.logo {
  height: 35px;
}

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: white;
  text-transform: uppercase;
  backface-visibility: hidden;
  text-align: center;
}

.heading-primary-main {
  display: block;
  animation-timing-function: 3sec;
  animation-name: moveInLeft;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
  animation-name: moveInLeft;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}

.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 18px;
  animation-name: moveInRight;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes moveInRight {
  0% {
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0px);
  }
}

.btn {
  text-decoration: none;

  text-transform: uppercase;

  padding: 15px 40px;
  border-radius: 30px;
  display: inline-block;
  margin-top: 50px;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 10px rgba(75, 75, 75, 0.651);
}

.btn:active {
  transform: translateY(1px);
}
.btn-white {
  background-color: rgb(255, 255, 255);
  color: gray;
}
